@page
@using AspDotNetCoreCache.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p>資料筆數: @Model.BooksCount</p>

    @foreach (var book in Model.Books)
    {
        <p style="color:green">@book.Id - @book.Name</p>
    }
</div>
